{
	"htmlWhitespaceSensitivity": "ignore",
	"trailingComma": "none",
	"requirePragma": false,
	"bracketSpacing": true,
	"singleQuote": false,
	"printWidth": 200,
	"useTabs": true,
	"tabWidth": 4,
	"semi": false
}